

<!-- <h2>Detalhes de Aluno</h2>
<p>{{aluno.nome}}</p>
<p><strong>Idade: </strong>{{aluno.idade}}</p>
<p><strong>Email: </strong>{{aluno.email}}</p>
<p><strong>Distrito: </strong>{{aluno.distrito}}</p> -->


<!-- utilizando observable -->
<h2>Detalhes de Aluno</h2>
<p>{{alunoAsync.nome}}</p>
<p><strong>Idade: </strong>{{alunoAsync.idade}}</p>
<p><strong>Email: </strong>{{alunoAsync.email}}</p>
<p><strong>Distrito: </strong>{{alunoAsync.distrito}}</p>

<!-- <h2>Detalhes de Aluno</h2>
<p style="color:yellow">{{aluno.nome}}<input [(ngModel)]="aluno.nome" /></p>
<p><strong>Idade: </strong>{{aluno.idade}}</p>
<p><strong>Email: </strong>{{aluno.email}}</p>
<p><strong>Distrito: </strong>{{aluno.distrito}}</p> -->




<!-- <p>
Nome: <span *ngIf="alunoSeleccionado">{{alunoSeleccionado.name}}</span>
idade: <span *ngIf="alunoSeleccionado">{{alunoSeleccionado.idade}}</span>
email: <span *ngIf="alunoSeleccionado">{{alunoSeleccionado.email}}</span>
distrito: <span *ngIf="alunoSeleccionado">{{alunoSeleccionado.distrito}}</span>
</p> -->



<!-- <ul>
  <li *ngFor="let aluno of alunos; index as alunoId" (click)="selectAluno(aluno)">
    <a  [title]="aluno.name" [routerLink]="['/alunos', alunoId]" >{{aluno.name.title}}</a>
</ul> -->